@import url('styles.css');

.comment-form-container {
    background-color: #e5e3e3;
    border-radius: 18px;
    padding: 10px;
    margin-top: 10px;
}

.comment-form-container h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.comment-container {
    display: flex;
}

.form-group {
    margin-bottom: 15px;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

textarea,
input[type="file"] {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.user-info-container {
    display: flex;
    align-items: center;
    /* Align items vertically */
}

.username {
    margin: 0;
}

.button-container {
    margin-left: auto;
    /* Push the button container to the right */
    display: flex;
    gap: 10px;
}

.action-button {
    padding: 7px 15px;
    background-color: rgba(0, 0, 0, 0);
    /* Transparent black */
    color: #000;
    /* Black text */
    border: 1px solid #000;
    /* Black border */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    /* Semi-transparent black on hover */
    color: black;
    /* White text on hover */
}

section.post {
    background-color: #f8f6f6;
    padding: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 20px auto;
    /* Center the post container horizontally */
    position: relative !important;
    width: auto;
    max-width: 100%;
    /* Allow the post box to be as wide as the viewport */
}

.post-content {
    margin-bottom: 10px;
    /* Add some space between content and image */
}

.fill-container {
    width: 100%;
    height: 600px;
    /* Set a fixed height for the container */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
}

/* Responsive styles */
@media (min-width: 768px) {
    section.post {
        min-width: 300px;
        /* Adjust this value based on your design */
    }
}